:root {
    --iris: #4d5ae5;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #E7E9FC;
    --cloud: #f4f4fd;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.content{
    width: 1440px;
    margin: auto;
}
li {
    list-style: none;
}
.container{
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
}
.section:not(:last-child){
    margin-bottom: 120px;
}
.hidden{
    display: none;
}
.section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}
div>.section-title{
    text-align: center;
}
/* header */
header{
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header{
    display:flex;
    align-items: center;
    padding: 24px 0;
}
.logo-header {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    text-decoration: none;
    margin-right: 77px;
}

.web-logo {
    color: var(--iris);
}
.nav-list{
    display: flex;
    margin-right:331px;
}
.nav-list li:not(:last-child){
    margin-right: 40px;
}
.nav-link {
    text-decoration: none;
    font-weight: 600;
    line-height: 1.5;
    color: var(--navy-blue);
}

.nav-link:visited {
    color: inherit;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--slate);
}

.nav-link:active {
    color: var(--iris);
}
.contact-list{
    display: flex;
}
.contact-list li:not(:last-child){
    margin-right: 40px;
}
.contact-item {
    text-decoration: none;
    color: var(--slate);
    line-height: 1.5;
}
/* main */
/* section1 */
.section-one{
    background-color: var(--navy-blue);
}
.container-section-one{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 192px;
    padding-bottom: 192px;
}
.main-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    padding-bottom: 48px;
    text-align: center;
}

.order-button {
    background-color: var(--iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.19;
    font-size: 16px;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.order-button:hover,
.order-button:focus {
    background-color: var(--iris);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.order-button:active {
    background: #404BBF;
}
/* section2 */
.feature-list{
    display: flex;
}
.feature-item{
    display: flex;
    flex-direction: column;
    width: 264px;
}
.feature-item:not(:last-child){
    margin-right: 24px;
}
.feature-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
}
/* section3 */
.container-section-three{
    flex-direction: column;
}
.img-list{
    display: flex;
    justify-content: center;
}

.img-list li:not(:last-child){
    margin-right: 24px;
}
/* section4 */
.section-four{
    background-color: var(--cloud);
    margin-top: 120px;
    padding-top: 120px;
}
.section-four-list{
    display: flex;
}
.section-four-item{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-four-item:not(:last-child){
    margin-right: 24px;
}

.full-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-top: 32px;
}
.section-four-text{
    margin: 8px auto 32px auto;
}
/* footer */
footer{
    background-color: var(--navy-blue);
}
.footer-box{
    width: 264px;
}
.container-footer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-footer {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.text-footer {
    line-height: 1.5;
    color: var(--cornflower);
    margin-top: 16px;
}
/* portfolio */
.container-portfolio{
    margin-bottom: 120px;
}
.portfolio-button-list{
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;
}
.portfolio-button {
    background-color: var(--cloud);
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-size: 16px;
    cursor: pointer;
    color: var(--iris);
    padding: 8px 16px;
}
.portfolio-button-list li:not(:last-child){
    margin-right: 24px;
}
.portfolio-button:active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: var(--iris);
    color: #FFFFFF;
}
.portfolio-block-list{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-block{
    display: flex;
    flex-direction: column;
    border: 0.5px solid var(--cloud);
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}
.portfolio-block:not(:nth-child(3n)){
    margin-right: 24px;
}
.block-content{
    padding-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.picture-text {
    color: var(--cloud);
    line-height: 1.5;
    display: none;
}
.section-h {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
}
.three-blocks{
    display: flex;
    flex-wrap: nowrap;
}
.three-blocks:not(:last-child){
    margin-bottom: 48px;
}